@tailwind base;
@tailwind components;
@tailwind utilities;

#checkout::before{
    content: "";
    background:url('images/last-bg.png') no-repeat center center/cover;
    position: absolute;
    left: 0;
    height: 24rem;
    width: 100%;
    z-index: -1290;
    /* opacity: 0.7; */
}